<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Välkommen</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <img src="natur1.jpg" alt="">
    <h1>Välkommen till vår förening</h1>
    <header>
        
    <a th:if="${session.username == 'admin'}" th:href="@{/AddMedlemmar}"> <button id="AddMembersBtn" type="button" >Lägg till medlemmar</button></a>
    <a href="/VaraMedlemmar"><button id="membersBtn" type="button">Våra Medlemmar</button></a>
    <a th:unless="${session.username == 'admin'}" th:href="@{/LoggIn}"><button id="adminBtn" type="button">Logga in som admin</button></a>
     <a th:if="${session.username == 'admin'}" th:href="@{/LoggUt}"><button id="adminBtn" type="button">Logga Ut</button></a>
        
    </header>
    
    
    
    
    <script src="script.js"></script>
</body>
</html>